<ion-header>

  <ion-navbar>
    <ion-title>{{ mode }} Recipe</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>Difficulty</ion-label>
        <ion-select formControlName="difficulty">
          <ion-option *ngFor="let level of difficultyOptions" [value]="level">
            {{ level }}
          </ion-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <button ion-button block type="button" clear block (click)="onManageIngredients()">Manage Ingredients</button>
    <ion-list no-padding formArrayName="ingredients">
      <ion-item-group *ngFor="let igControl of recipeForm.get('ingredients').controls, let i = index" [formGroupName]="i">
        <ion-grid>
          <ion-row align-items-center>
            <ion-col col-6>
              <ion-item>
                <ion-label floating>Name</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-4>
              <ion-item>
                <ion-label floating>Amount</ion-label>
                <ion-input type="number" formControlName="amount"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col col-2 align-self-center>
                <button float-right
                  padding-top
                  item-right 
                  ion-button
                  icon-only 
                  clear
                  type="button"
                  (click)="onRemoveIngredient(i)">
                  <ion-icon name="close"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
        
        
        <!--<ion-item no-lines align-items-center>
          <ion-label floating>Name</ion-label>
          <ion-input type="text" formControlName="name"></ion-input>
          <button
            item-right 
            ion-button
            icon-only 
            clear
            type="button"
            (click)="onRemoveIngredient(i)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
        <ion-item>
          <ion-label floating>Amount</ion-label>
          <ion-input type="number" formControlName="amount"></ion-input>
        
        </ion-item>-->
        
        
        
        
      </ion-item-group>
    </ion-list>
    <button ion-button type="submit" block [disabled]="!recipeForm.valid">{{ mode }} Recipe</button>
  </form>
</ion-content>
